Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  readability-*,
  misc-*,
  modernize-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
